## Understanding Data in Pandas

### #1 df.info()

### #2 df.shape

### #3 df.describe()

### #4 df.dtypes

### #5 df.columns

In [20]:
import pandas as pd
df1=pd.read_excel('financial_data.xlsx')

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              700 non-null    object
 1   Country              700 non-null    object
 2   Product              697 non-null    object
 3   Discount Band        647 non-null    object
 4   Units Sold           700 non-null    float64
 5   Manufacturing Price  700 non-null    int64
 6   Sale Price           698 non-null    float64
 7   Gross Sales          698 non-null    float64
 8   Discounts            695 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               694 non-null    float64
 12  Date                 697 non-null    datetime64[ns]
 13  Month Number         700 non-null    int64
 14  Month Name           696 non-null    object
 15  Year                 700 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 87.6+ KB

In [24]:
df1.shape

(700, 16)

In [25]:
df1.describe()

,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Year
count,700.000000,700.000000,698.000000,6.980000e+02,695.000000,7.000000e+02,700.000000,694.000000,697,700.000000,700.000000
mean,1608.294286,96.477143,118.717765,1.823485e+05,13234.127209,1.696091e+05,145475.211429,24092.383228,2014-04-28 14:58:42.525107456,7.900000,2013.750000
min,200.000000,3.000000,7.000000,1.799000e+03,0.000000,1.655080e+03,918.000000,-40617.500000,2013-09-01 00:00:00,1.000000,2013.000000
25%,905.000000,5.000000,12.000000,1.740900e+04,807.725000,1.592800e+04,7490.000000,2783.272500,2014-01-01 00:00:00,5.750000,2013.750000
50%,1542.500000,10.000000,20.000000,3.798000e+04,2643.750000,3.554020e+04,22506.250000,9241.800000,2014-05-01 00:00:00,9.000000,2014.000000
75%,2229.125000,250.000000,300.000000,2.767500e+05,16164.750000,2.610775e+05,245607.500000,22633.110000,2014-09-01 00:00:00,10.250000,2014.000000
max,4492.500000,260.000000,350.000000,1.207500e+06,149677.500000,1.159200e+06,950625.000000,262200.000000,2014-12-01 00:00:00,12.000000,2014.000000
std,867.427859,108.602612,136.864495,2.539369e+05,23023.774920,2.367263e+05,203865.506118,42862.569545,NaN,3.377321,0.433322

In [29]:
df1['Sale Price'].describe()

count    698.000000
mean     118.717765
std      136.864495
min        7.000000
25%       12.000000
50%       20.000000
75%      300.000000
max      350.000000
Name: Sale Price, dtype: float64

In [30]:
df1.dtypes

Segment                        object
Country                        object
Product                        object
Discount Band                  object
Units Sold                    float64
Manufacturing Price             int64
Sale Price                    float64
Gross Sales                   float64
Discounts                     float64
 Sales                        float64
COGS                          float64
Profit                        float64
Date                   datetime64[ns]
Month Number                    int64
Month Name                     object
Year                            int64
dtype: object

In [32]:
df1.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')