## Pandas dataframe.groupby() Method

In [1]:
import pandas as pd
df=pd.read_csv('students.csv')

In [2]:
df.head()

,StudentID,Name,Age,Email,Department,GPA,GraduationYear
0,3336,David Palmer,19.0,sean43@hotmail.com,Mathematics,3.16,2022
1,8774,Andrew Roach,23.0,vbecker@harvey.com,Chemistry,3.75,2023
2,1396,Jonathan Gonzalez,22.0,hollydavis@gmail.com,Physics,2.95,2023
3,6716,Kenneth Morrow,24.0,ganderson@wheeler-atkins.info,Physics,3.55,2021
4,5305,Tiffany Wolf,NaN,qanderson@taylor.com,Mathematics,3.30,2021

In [3]:
sdf=df.groupby('GraduationYear')['StudentID'].count()
sdf

GraduationYear
2020     4
2021     6
2022     3
2023    10
2024     7
Name: StudentID, dtype: int64

In [4]:
sdf2=df.groupby(['GraduationYear','Department'])['StudentID'].count()
sdf2

GraduationYear  Department
2020            Chemistry           1
                Computer Science    2
                Mathematics         1
2021            Biology             1
                Chemistry           2
                Mathematics         2
                Physics             1
2022            Mathematics         2
                Physics             1
2023            Biology             1
                Chemistry           1
                Mathematics         3
                Physics             5
2024            Biology             2
                Chemistry           3
                Computer Science    1
                Physics             1
Name: StudentID, dtype: int64

In [5]:
sdf3=df.groupby(['GraduationYear','Department'])['GPA'].mean()
sdf3

GraduationYear  Department
2020            Chemistry           2.300000
                Computer Science    2.830000
                Mathematics         2.840000
2021            Biology             3.860000
                Chemistry           2.365000
                Mathematics         3.370000
                Physics             3.550000
2022            Mathematics         3.330000
                Physics             3.520000
2023            Biology             3.070000
                Chemistry           3.750000
                Mathematics         3.480000
                Physics             3.002000
2024            Biology             3.355000
                Chemistry           3.146667
                Computer Science    3.970000
                Physics             3.160000
Name: GPA, dtype: float64

In [6]:
sdf4=df.groupby(['GraduationYear'])['GPA'].agg(['mean','max','min'])
sdf4

                    mean   max   min
GraduationYear
2020            2.700000  3.52  2.14
2021            3.146667  3.86  2.29
2022            3.393333  3.52  3.16
2023            3.227000  3.97  2.11
2024            3.325714  3.97  2.76

In [7]:
sdf5=df.groupby(['GraduationYear']).agg(gpa_mean=('GPA','mean'), year_student_count=('StudentID','count'))
sdf5

                gpa_mean  year_student_count
GraduationYear
2020            2.700000                   4
2021            3.146667                   6
2022            3.393333                   3
2023            3.227000                  10
2024            3.325714                   7