## How to Access Data in Pandas DataFrames

### .loc[]

In [ ]:
#1 Labeled Indexes
#2 Column Names
#3 Applying Conditions (True, False)

In [8]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
        'Age': [25, 30, 35, 40, 28],
        'City': ['NY', 'LA', 'SF', 'TX', 'Chicago']}

df1=pd.DataFrame(data,index=['A','B','C','D','E'])

In [9]:
df1

      Name  Age     City
A    Alice   25       NY
B      Bob   30       LA
C  Charlie   35       SF
D    David   40       TX
E     Emma   28  Chicago

In [10]:
df1.loc['C']

Name    Charlie
Age          35
City         SF
Name: C, dtype: object

In [13]:
df1.loc['D','Name']

'David'

In [14]:
df1.loc['D',['Name','City']]

Name    David
City       TX
Name: D, dtype: object

In [16]:
df1.loc[df1['Age']>30]

      Name  Age City
C  Charlie   35   SF
D    David   40   TX

### .iloc[]

In [ ]:
# position-based indexing (numerical index)

In [17]:
df1

      Name  Age     City
A    Alice   25       NY
B      Bob   30       LA
C  Charlie   35       SF
D    David   40       TX
E     Emma   28  Chicago

In [18]:
df1.iloc[0]

Name    Alice
Age        25
City       NY
Name: A, dtype: object

In [19]:
df1.iloc[4]

Name       Emma
Age          28
City    Chicago
Name: E, dtype: object

In [21]:
df1.iloc[5]

IndexError: single positional indexer is out-of-bounds

In [22]:
df1.iloc[2,[0,2]]

Name    Charlie
City         SF
Name: C, dtype: object