## Pandas Basics

In [1]:
import pandas as pd #importing pandas lib

In [2]:
df=pd.read_csv('pizza_data.csv')

In [3]:
df.shape

(371, 5)

In [4]:
df.head()

          Company          Pizza Name           Type          Size  Price
0  Domino's Pizza         Hand Tossed  Cheeses Pizza   Small (10")  $5.99
1  Domino's Pizza         Hand Tossed  Cheeses Pizza  Medium (12")  $7.99
2  Domino's Pizza         Hand Tossed  Cheeses Pizza   Large (14")  $9.99
3  Domino's Pizza        Handmade Pan  Cheeses Pizza  Medium (12")  $7.99
4  Domino's Pizza  Crunchy Thin Crust  Cheeses Pizza   Small (10")  $5.99

In [5]:
df.head(10)

          Company          Pizza Name           Type           Size   Price
0  Domino's Pizza         Hand Tossed  Cheeses Pizza    Small (10")   $5.99
1  Domino's Pizza         Hand Tossed  Cheeses Pizza   Medium (12")   $7.99
2  Domino's Pizza         Hand Tossed  Cheeses Pizza    Large (14")   $9.99
3  Domino's Pizza        Handmade Pan  Cheeses Pizza   Medium (12")   $7.99
4  Domino's Pizza  Crunchy Thin Crust  Cheeses Pizza    Small (10")   $5.99
5  Domino's Pizza  Crunchy Thin Crust  Cheeses Pizza   Medium (12")   $7.99
6  Domino's Pizza  Crunchy Thin Crust  Cheeses Pizza    Large (14")   $9.99
7  Domino's Pizza      Brooklyn Style  Cheeses Pizza    Large (14")     NaN
8  Domino's Pizza      Brooklyn Style  Cheeses Pizza  X-Large (16")  $11.99
9  Domino's Pizza   Gluten Free Crust  Cheeses Pizza    Small (10")   $8.99

In [6]:
df.tail()

         Company           Pizza Name              Type           Size   Price
366  IMO's Pizza    BBQ Chicken Pizza  Specialty Pizzas  X Large (16")  $23.85
367  IMO's Pizza  Egg-Ceptional Pizza  Specialty Pizzas    Small (10")  $11.80
368  IMO's Pizza  Egg-Ceptional Pizza  Specialty Pizzas   Medium (12")  $14.95
369  IMO's Pizza  Egg-Ceptional Pizza  Specialty Pizzas    Large (14")  $18.65
370  IMO's Pizza  Egg-Ceptional Pizza  Specialty Pizzas  X Large (16")  $22.30

In [7]:
df.tail(10)

         Company           Pizza Name              Type           Size   Price
361  IMO's Pizza       All Meat Pizza  Specialty Pizzas    Large (14")  $19.95
362  IMO's Pizza       All Meat Pizza  Specialty Pizzas  X Large (16")  $23.85
363  IMO's Pizza    BBQ Chicken Pizza  Specialty Pizzas    Small (10")  $12.70
364  IMO's Pizza    BBQ Chicken Pizza  Specialty Pizzas   Medium (12")  $16.20
365  IMO's Pizza    BBQ Chicken Pizza  Specialty Pizzas    Large (14")  $19.20
366  IMO's Pizza    BBQ Chicken Pizza  Specialty Pizzas  X Large (16")  $23.85
367  IMO's Pizza  Egg-Ceptional Pizza  Specialty Pizzas    Small (10")  $11.80
368  IMO's Pizza  Egg-Ceptional Pizza  Specialty Pizzas   Medium (12")  $14.95
369  IMO's Pizza  Egg-Ceptional Pizza  Specialty Pizzas    Large (14")  $18.65
370  IMO's Pizza  Egg-Ceptional Pizza  Specialty Pizzas  X Large (16")  $22.30

In [8]:
df.Company

0      Domino's Pizza
1      Domino's Pizza
2      Domino's Pizza
3      Domino's Pizza
4      Domino's Pizza
            ...
366       IMO's Pizza
367       IMO's Pizza
368       IMO's Pizza
369       IMO's Pizza
370       IMO's Pizza
Name: Company, Length: 371, dtype: object

In [9]:
df.Company.unique()

array(["Domino's Pizza", 'Pizza Hut', "Godfather's Pizza", "IMO's Pizza"],
      dtype=object)

In [12]:
df.isnull()

     Company  Pizza Name   Type   Size  Price
0      False       False  False  False  False
1      False       False  False  False  False
2      False       False  False  False  False
3      False       False  False  False  False
4      False       False  False  False  False
..       ...         ...    ...    ...    ...
366    False       False  False  False  False
367    False       False  False  False  False
368    False       False  False  False  False
369    False       False  False  False  False
370    False       False  False  False  False

[371 rows x 5 columns]

In [13]:
df.isnull().sum()

Company       0
Pizza Name    0
Type          0
Size          3
Price         6
dtype: int64

In [15]:
df2=df.dropna()

In [16]:
df2.shape

(362, 5)

In [17]:
df2.isnull().sum()

Company       0
Pizza Name    0
Type          0
Size          0
Price         0
dtype: int64